<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  		 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
  		 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
  		 http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
		
	<!-- Enable annotation style of spring aspects -->
	<aop:aspectj-autoproxy />

	
	<!-- all properties from application.properties could be defined in here -->
	<!-- <bean id="applicationProperty" class="com.madakethealth.web.support.ApplicationProperty">
		<property name="authorizeLoadData">
			<value>${app.authorizeLoadData}</value>
		</property>
		<property name="siteUrl">
			<value>${site.url}</value>
		</property>		
	</bean> -->

	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">		
	</bean>
	
	<mongo:mongo>
		<mongo:options auto-connect-retry="true"/>
	</mongo:mongo>
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo">
		</constructor-arg>
		<constructor-arg value="Friendlee"></constructor-arg>
	</bean>

	
</beans>
